$navyBlue-color: #01345b;
$lightBlue-color: #0fbcf9;

body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.app-container {
	height: 100%;
}

h1 {
	color: $navyBlue-color;
	font-weight: 800px;
}

// Footer.js

.fa-linkedin-square {
	margin: 5px;
	font-size: 20px;
}

.fa-github {
	margin: 5px;

	font-size: 20px;
}

.fa-instagram {
	margin: 5px;
	font-size: 20px;
}

.linkers {
	color: #747d8c;
}

.copyRight {
	color: #747d8c;
}

.footer {
	background-color: #f1f2f6;
	text-align: center;
	min-height: 75px;
}

@media only screen and (max-width: 767px) {
	.imgagePic {
		overflow: hidden;
		width: 150px;
	}
	.myPic {
		width: 150px;
		vertical-align: top;
		margin: 5px;
	}

	.homeInfo {
		margin: 20px;
	}

	.homeContainer {
		min-height: 450px;
	}

	.elevatorPitch {
		display: none;
	}

	.socials {
		text-align: center;
	}

	.contain {
		height: 2000px;
	}
}
