
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
 }

.navbar-brand {
  color: #ffa801;
}

h1 {
  color: #ffa801;
}

span {
  color: #ffa801;
}

p {
  color: #747d8c;
}

.logo {
  font-size: 60px;
}

#title {
  display: none;
}

a {
  color: #ffa801;
  text-decoration: none !important;
}

a:hover {
  color: #ffa801;
  text-decoration: none !important;
}

.homeContainer {
  display: inline-block;
  min-height: 650px;
  margin: 15px;
}

.imagePic {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 650px;
  margin: 20px;
}

.myPic {
  width: inherit;
  height: inherit;
  border-radius: 10px;

}

.intro {
  width: 550px;
  margin: 20px;
  display: inline-block;
}

.elevatorPitch {
  color: #747d8c;
}

.divResume {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 25px;
}

.resume {
  color: #ffa801;
  border: 2px solid #ffa801;
  width: 200px;
  height: 50px;
  margin: 25px;
  padding: 10px;
  /* display: block; */
  justify-content: center;
}

.resumeContainer {
  min-height: 650px;

}

.container_resume {
  width: 100%;
  height: inherit;
  text-align: center;
}

.preview_resume {
  width: 90%;
  height: 550px;
  display: inline-block; 
  text-align: vertical;
}

.fa-linkedin-square {
  margin: 5px;
  font-size: 20px;
}

.fa-github {
  margin: 5px;

  font-size: 20px;
}

.fa-envelope {
  margin: 5px;
  font-size: 20px;
}

.socials {
  text-align: center;
  display: block;
  margin-top: 55px;
}

.homeInfo {
  display: block;
}

.links {
  display: block;
  justify-content: center;
  text-align: center;
}

.linkers {
  display: inline-block;
  /* margin-top: 120px; */
  color: #747d8c;
}

.copyRight {
  color: #747d8c;
  
}

.footer {
  background-color: #f1f2f6;
  padding: 10px;
  text-align: center;
}

.stuff {
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;
  padding: 5px;
  margin: 35px;
  border: 3px solid #ffa801;
}

.stuff h4 {
  color: #747d8c;
  font-weight: 600;
}
